<h1> HAKA Management Console.</h1> 
<p> To start reconnaissance, type the Domain name ot IP-address of the target machine.</p>
<form action="{{ url_for("gfg")}}" method="post">
<label for="Domain">Domain:</label>
<input type="text" id="Domain" name="Domain" placeholder="Domain name">
<button type="submit">Go</button>
<button type="reset">Reset</button>
<br>
<br>
<br>
<br>
<br>
<FONT SIZE="2"> - The IP address will be checked on RIPE.net to verify the owner and possible domain names.<br>
     - The domain name will be checked with dnsdumster to find associated ip addresses.<br>
     - A list of IP addresses associated with the owner that can be attacked will be displayed
</FONT>